<app-navbar></app-navbar>

<div class="jumbotron text-center">
  <h1 class="display-4">My orders</h1>
 
</div>

<div class="row">
  <div class="col-sm-4" >
    <div class="card">
      <img
        src="https://cdn.britannica.com/19/162819-050-0D2A234B/Gould-book-Marc-Coussin.jpg"
        class="card-img-top"
      />
      <div class="card-body">
        <h5 class="card-title">Do Epic Shit</h5>
        <p class="card-text">
          Book on self improvement
        </p>
        <h2> heyyy<span class="mrp"></span></h2>
        <button  class="btn btn-primary btn-block">Orders Placed</button>
      </div>
    </div>
  </div>
</div>

