<!-- <h2 class="text-center">All Categories</h2>
<div class="row">
  <div class="col-sm-3" *ngFor="let category of categories">
    <div class="card">
        <img src="{{ 'http://rjtmobile.com/grocery/images/' + category.catImage }}" class="card-img-top"  />
      <div class="card-body">
        <h5 class="card-title">{{ category.catName }}</h5>       
        <button (click)="onButtonClicked(category.catId)" class="btn btn-primary btn-block">Select</button>
      </div>
    </div>
  </div>
</div> -->

<h2 class="text-center">All Categories</h2>
<div class="row">
  <div class="col-sm-3" >
    <div class="card">
        <img src="https://cdn.pixabay.com/photo/2015/11/19/21/10/glasses-1052010__340.jpg" class="card-img-top"  />
      <div class="card-body">
        <h5 class="card-title">Fiction</h5>       
        <button (click)="onButtonClicked()" class="btn btn-primary btn-block">Select</button>
      </div>
    </div>
  </div>
  <div class="col-sm-3" >
    <div class="card">
        <img src="https://cdn.pixabay.com/photo/2015/11/19/21/10/glasses-1052010__340.jpg" class="card-img-top"  />
      <div class="card-body">
        <h5 class="card-title">Fiction</h5>       
        <button  class="btn btn-primary btn-block">Select</button>
      </div>
    </div>
  </div>
  <div class="col-sm-3" >
    <div class="card">
        <img src="https://cdn.pixabay.com/photo/2015/11/19/21/10/glasses-1052010__340.jpg" class="card-img-top"  />
      <div class="card-body">
        <h5 class="card-title">Fiction</h5>       
        <button  class="btn btn-primary btn-block">Select</button>
      </div>
    </div>
  </div>
  <div class="col-sm-3" >
    <div class="card">
        <img src="https://cdn.pixabay.com/photo/2015/11/19/21/10/glasses-1052010__340.jpg" class="card-img-top"  />
      <div class="card-body">
        <h5 class="card-title">Fiction</h5>       
        <button  class="btn btn-primary btn-block">Select</button>
      </div>
    </div>
  </div>
</div>
